<div class="wrapper">
    <aside class="main_sidebar">
        <ul>
            <li 
              {% if 'data' in request.path %}
              class ="active"
              {% endif %}
            >
              <i class="fa fa-arrows"></i><a href="/app/data">Data</a>
            </li>
            
            <li
              {% if 'mamdani' in request.path %}
              class ="active"
              {% endif %}
            ><i class="fa fa-battery-2"></i><a href="/app/penentuan">Penentuan</a></li>

            <li
              {% if 'perbandingan' in request.path %}
              class ="active"
              {% endif %}
            ><i class="fa fa-circle"></i><a href="/app/perbandingan">Perbandingan</a></li>

            <li><i class="fa fa-circle"></i><a href="/auth/logout">Logout</a></li>

        </ul>
    </aside>
    <div class="mian">
        <h1>Prakash </h1>
    </div>
</div>