<div class="wrapper">
    <aside class="main_sidebar">
        <ul>
            <li><i class="fa fa-arrows"></i><a href="/app/data">Data</a></li>
            <li><i class="fa fa-battery-2"></i><a href="#">Mamdani</a></li>
            <li class="active"><i class="fa fa-bell"></i><a href="#">Tsukamoto</a></li>
            <li><i class="fa fa-bicycle"></i><a href="#">Sugeno</a></li>
            <li><i class="fa fa-circle"></i><a href="#">Perbandingan</a></li>
            <li><i class="fa fa-crosshairs"></i><a href="#">crosshairs</a></li>
        </ul>
    </aside>
    <div class="mian">
        <h1>Prakash </h1>
    </div>
</div>