<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    {% include 'commons/header.html' %}
	</head>
	<body>
		<div id="top"></div>
    {% include 'commons/nav.html' %}
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen justify-content-center align-items-center">
					<div class="col-lg-8">
						<div class="banner-content text-center">
							<p class="text-uppercase text-white">Perbandingan metode</p>
              <h1 class="text-uppercase text-white">Fuzzy Inference System</h1>
              <h2 class="text-uppercase text-white">Beasiswa PPA</h2>
							<a href="/auth/login" class="primary-btn banner-btn">Login</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- Start About Area -->
		<section class="section-full gray-bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title text-center">
							<p class="text-uppercase">About Our DataFuzz</p>
              <h3>Penentuan penerima <b>beasiswa PPA</b>
                  berdasarkan prestasi dan kondisi ekonomi mahasiswa menggunakan logika fuzzy. 
                  Penelitian ini menerapkan metode logika fuzzy yaitu metode <b>Mamdani</b>, 
                  <b>Tsukamoto</b>, dan <b>Sugeno</b></h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Area -->
		<!-- Start Product Area -->
		<section id="services" class="title-bg section-full">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-white text-uppercase">Fitur Applikasi</p>
							<h2 class="text-white h1">Menganalisa 3  metode utama dalam FIS <br> memaparkannya untuk anda</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-star"></span>
							</div>
							<div class="desc">
								<h4>Metode Mamdani</h4>
								<p>Metode fuzzy mamdani banyak digunaka untuk penelitian tentang sistem cerdas. 
                  Sistem cerdas tersebut dapat berupa sistem pakar atau juga sistem pendukung keputusan (SPK).</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-magic-wand"></span>
							</div>
							<div class="desc">
								<h4>Metode Tsukamoto</h4>
								<p>
                    Pada metode Tsukamoto, setiap konsekuen pada aturan yang berbentuk 
                    IF-Then harus dipresentasikan dengan suatu himpunan 
                    fuzzy dengan fungsi keanggotaan yang monoton.
                </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-sun"></span>
							</div>
							<div class="desc">
								<h4>Metode Sugeno</h4>
								<p>
                    Penalaran dengan metode SUGENO output (konsekuen) sistem tidak berupa himpunan fuzzy, 
                    melainkan berupa konstanta atau persamaan linear. 
                    Metode ini diperkenalkan oleh Takagi-Sugeno Kang pada tahun 1985. 
                </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-layers"></span>
							</div>
							<div class="desc">
								<h4>Perbandingan</h4>
								<p>
                  Membandingkan ketiga metode Mamdani, Tsukamoto, Sugeno.
                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End shuffle Area -->
		<!-- Start Team member Area -->
		<section id="team" class="pb-150 pt-80">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Creative People</p>
							<h2 class="h3">Jika Impian tanpa Batas adalah pemandumu, <br> Lampuilah dibawah kibaran bendera tekad membara!! </h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6 mx-auto">
						<div class="single-member">
							<div class="thumb relative" style="background: url(/static/img/t1.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Meggy Mesah</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team member Area -->

    {% include 'commons/footer.html' %}
    {% include 'commons/bottom-script.html' %}
	</body>
</html>
